.container__carousel {
    margin: 1.5rem 0 3rem 0;

    &__img {

        margin: auto;
        width: 70%;
        height: 75vh;

    }
}

.slick-next {
    right: 25px;
}

.slick-prev {
    left: 25px;
}